<!DOCTYPE html>
<html>
<head>
    <meta charset="iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <nav>
    <ul class="nav nav-pills">
      <li>@Html.ActionLink("Home","Index","Home")</li>
      <li>@Html.ActionLink("About","About","Home")</li>

    </ul>
  </nav>
  <div class="container well">
    @RenderBody()
  </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
